@keyframes fadeIn {
  from {
    transform: translateY(50px) scale(0.95);
    opacity: 0;
  }
  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.9s ease-out forwards;
}
