<div class="flex flex-1 min-w-0 transition-all duration-500 justify-center items-center">
  <!-- CARD REGISTRO IDENTICO AL LOGIN -->
  <div
    class="relative w-full max-w-md p-8 rounded-3xl shadow-[0_8px_40px_rgba(0,0,0,0.35)]
           backdrop-blur-2xl border transition-all duration-[900ms]
           text-black border-gray-300/40 bg-white/70"
  >



    <!-- FORM -->
    <form class="space-y-7">
      <!-- NOMBRE -->
      <div>
        <label class="text-xs font-medium text-slate-600 block mb-1">
          Nombre de Usuario
        </label>

        <div class="relative">
          <span class="input-icon">
            <svg viewBox="0 0 24 24">
              <path d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" />
              <path d="M4.5 20.25a8.25 8.25 0 1115 0v.75H4.5v-.75z" />
            </svg>
          </span>

          <input
            type="text"
            name="nameUser"
            [(ngModel)]="user.nameUser"
            class="input-enterprise"
          />
        </div>
      </div>

      <!-- EMAIL -->
      <div>
        <label class="text-xs font-medium text-slate-600 block mb-1">
          Correo
        </label>

        <div class="relative">
          <span class="input-icon">
            <svg viewBox="0 0 24 24">
              <path d="M4 6l8 6 8-6M4 6h16v12H4z"/>
            </svg>
          </span>

          <input
            type="email"
            name="email"
            [(ngModel)]="user.email"
            class="input-enterprise"
          />
        </div>
      </div>

      <!-- PASSWORD -->
      <div *ngIf="!isUserExist">
        <label class="text-xs font-medium text-slate-600 block mb-1">
          Contraseña
        </label>

        <div class="relative">
          <span class="input-icon">
            <svg viewBox="0 0 24 24">
              <path d="M12 11c1.1 0 2-.9 2-2V7a2 2 0 10-4 0v2a2 2 0 002 2z"/>
              <path d="M5 11h14v8H5z"/>
            </svg>
          </span>

          <input
            type="password"
            name="password"
            [(ngModel)]="user.password"
            class="input-enterprise"
          />
        </div>
      </div>

      <!-- SELECT -->
      <div>
        <label class="text-xs font-medium text-slate-600 block mb-1">
          Cargo
        </label>

        <div class="relative">
          <span class="input-icon">
            <svg viewBox="0 0 24 24">
              <path d="M15.75 5.25a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.5 20.25a8.25 8.25 0 0115 0M19.5 7.5l2 2-2 2" />
            </svg>
          </span>

          <select
            [(ngModel)]="user.userType"
            name="userType"
            class="input-enterprise"
          >
            <option [ngValue]="null" disabled>SELECCIONAR</option>
            <option [ngValue]="UserType.Agente">Agente</option>
            <option [ngValue]="UserType.Operador">Operador</option>
            <option [ngValue]="UserType.Supervisor">Supervisor</option>
            <option [ngValue]="UserType.Mecanico">Mecánico</option>
            <option [ngValue]="UserType.Chofer">Chofer</option>
            <option [ngValue]="UserType.Secretaria">Secretaria</option>
            <option [ngValue]="UserType.Ingeniero">Ingeniero</option>
          </select>
        </div>
      </div>

      <!-- BOTÓN REGISTRO -->
      <button *ngIf="!isUserExist"
        type="submit"
        (click)="register()"
        [disabled]="isLoading"
        class="w-full py-3 rounded-xl text-white font-semibold text-base
              transition-all duration-200 hover:shadow-xl
              flex items-center justify-center gap-2 cursor-pointer
              bg-blue-600 hover:bg-blue-700 disabled:opacity-60 disabled:hover:bg-blue-600 disabled:cursor-not-allowed"
      >

        <!-- Cuando está cargando -->
        <span *ngIf="isLoading" class="loader-premium"></span>
        <span *ngIf="isLoading">Procesando...</span>

        <!-- Cuando NO está cargando -->
        <span *ngIf="!isLoading">CREAR CUENTA</span>

      </button>

      <!-- BOTÓN ACTUALIZAR -->
      <button *ngIf="isUserExist"
        type="submit"
        (click)="updated()"
        [disabled]="isLoading"
        class="w-full py-3 rounded-xl text-white font-semibold text-base
              transition-all duration-200 hover:shadow-xl
              flex items-center justify-center gap-2 cursor-pointer
              bg-blue-600 hover:bg-blue-700 disabled:opacity-60 disabled:hover:bg-blue-600 disabled:cursor-not-allowed"
      >

        <!-- Cuando está cargando -->
        <span *ngIf="isLoading" class="loader-premium"></span>
        <span *ngIf="isLoading">Procesando...</span>

        <!-- Cuando NO está cargando -->
        <span *ngIf="!isLoading">ACTUALIZAR</span>

      </button>

    </form>

    <!-- FOOTER -->
    <p *ngIf="!isUserExist" class="text-center text-sm mt-6 opacity-80">
      ¿Ya tienes una cuenta?
      <a routerLink="/login" class="text-blue-400 font-medium hover:underline">
        Inicia Sesion
      </a>
    </p>

  </div>
</div>