<button
   (click)="close()"
      class="border-white/70 hover:bg-white/20 w-[42px] cursor-pointer h-[42px] flex items-center justify-center rounded-full border transition-all duration-300"
    >
      <i 
        class="bi text-white bi-list text-xl transition-transform duration-300 hover:rotate-90"
      ></i>
    </button>

<aside *ngIf="visibilitySidebar"
  class="
    fixed right-0
    top-[96px]
    h-[calc(100dvh-96px)]
    w-[260px]
    z-[3000]
    shadow-2xl
    transition-transform duration-300
    flex flex-col class.bg-[#1e1b74]
  "

  [class.translate-x-full]="!visibilitySidebar"
  [class.translate-x-0]="visibilitySidebar"
  >
  
<div class="flex flex-col flex-1 overflow-hidden px-5 pb-5">
  
  
    <!-- BOTÓN DE CERRAR (X) - vive en el sidebar -->
    <div class="flex justify-end mb-4">
      <button 
        (click)="close()"
        class="w-9 h-9 rounded-full flex items-center justify-center
        transition-all hover:scale-110 bg-white/20 text-white"
        >
        ✕
      </button>
    </div>
    
    <!-- LINKS -->
    <nav class="flex flex-col gap-2 overflow-y-auto pr-1 sidebar-scroll">
      
      <a 
      (click)="close()"
      [routerLink]="['/home']"
      class="px-4 py-3 rounded-md transition hover:bg-white/20 text-white"
      >Home</a>
      
      <a 
      (click)="close()"
      [routerLink]="['/nosotros']"
      class="px-4 py-3 rounded-md transition text-white hover:bg-white/20"
      >Nosotros</a>
      
    </nav>
    
    <!-- BOTÓN LOGIN (solo mobile) -->
    <div class="mt-auto md:hidden" *ngIf="!layout.isRouteLogin()">
      <app-button-login (click)="close()"></app-button-login>
    </div>
  </div>
    
</aside>
