@keyframes titleIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes lineIn {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
